
.container-user {
  background-color: #f0f0f5;
  color: #000;
  display: grid;
  font-size: 18px;
  grid-template-columns:1fr 2fr;
  grid-template-rows: 100vh;
  }

.profile {
  grid-row-start: 1;
  margin-left: 5%;
  text-align: center;
}

.back-link {
  align-items: center;
  color: #000;
  display: flex;
  font-weight: bold;
  padding: 50px 0px 100px 10px;
  text-decoration: none;
  transition: opacity 0.2s;
}

.back-link:hover{ opacity: 0.9; }

.back-icon { margin-right: 8px; }

.profile img { border-radius: 6px; }

.profile-name{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

.profile p { padding: 3px; }

.profile-details {
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 20%;
  text-align: center;
}

.profile-details p { padding: 3px; }

.repositories {
  background-color: #f0f0f5;
  border-radius: 8px 0px 0px 0px;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-column-start:2;
  margin-left: 5%;
  margin-top: 5%;
}

.repositories ul {
  display: grid;
  grid-gap:24px;
  list-style: none;
}

.repositories ul li {
  border-left: 3px solid #F2955E;
  border-radius: 2px;
  color: #000;
  padding: 20px;
  position: relative;
  width: 90%;
}

.repositories ul li p { margin-top: 5px; }

.repositories ul li p strong{ font-size: 22px; }

.reactions {
  display: flex;
  margin-left: 80%;
  margin-top: 5%;
}


