.container {
  align-items: center;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  justify-content: center;
}

.container > div {
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-top: -12%;
}

.container-search h1 {
  color: #F2955E;
}

input {
  border: 1px solid #dcdce6;
  color: #333;
  font-size: 14px;
  text-align: center;
  width: 40%;
  height: 40px;
  margin-top: 15%;
  border-radius: 5px 0px 0px 5px;
}

button{
  background: #F2955E;
  border: 0;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  opacity: 1;
  width: 90px;
}

button:hover
{
  opacity:0.9;
}
